services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_DB: pharma-db
      POSTGRES_USER: longtk5
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
    networks:
      - app_network

  redis:
    image: redis:8.0.5
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

volumes:
  postgres_data:
  redis-data:
  rabbitmq_data:

networks:
  app_network:
    driver: bridge
